.game {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	max-height: 100vh;
	overflow: hidden;
	@include media-md-up {
		flex-flow: row;
		align-items: unset;
	}
	.image-container {
		position: relative;
		cursor: pointer;
		width: 30vw;
		max-width: 300px;
		height: 150px;
		@include media-md-up {
			height: 300px;
		}
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		&--play {
			position: absolute;
			top: 10px;
			right: 10px;
		}
	}
	.letters,
	.blanks {
		cursor: pointer;
		font-family: 'Sister Solid';
		display: flex;
		font-size: 3rem;
		@include media-md-up {
			font-size: 5rem;
		}
		p {
			margin: 15px;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: black;
		}
	}
	.blanks {
		height: 366px;
		width: auto;
		min-width: 75vw;
		background-size: cover;
		position: relative;
		padding-left: 25px;
		padding-right: 25px;
		background-image: url('../images/cloud.svg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		@include media-md-up {
			width: auto;
			min-width: 400px;
			height: auto;
		}
		&-letters {
			width: 100%;
			height: 50%;
			margin-bottom: 3vh;
			align-items: center;
			justify-content: center;
			align-self: flex-end;
			display: flex;
			align-items: center;
			@include media-md-up {
				align-items: flex-end;
				margin-bottom: 0;
			}
		}
		&-btn {
			cursor: pointer;
			position: absolute;
			top: 10px;
			right: 10px;
			color: green;
			font-size: 24px;
			padding: 12px 12px 12px 15px;
			border: 1px solid darkgreen;
			border-radius: 50%;
			transition: color 0.2s;
			&:focus,
			&:active {
				outline: 0;
			}
			&:hover {
				color: limegreen;
			}
			&--check {
				top: 70px;
				right: -10px;
				padding: 8px 15px 10px 16px;
			}
		}
	}
}
