@font-face {
	font-family: 'Sister';
	src: url('./fonts/LoveYaLikeASister.woff') format('woff');
}
@font-face {
	font-family: 'Sister Solid';
	src: url('./fonts/LoveYaLikeASisterSolid.woff') format('woff');
}
body {
	background-image: url('../images/background.jpg');
	font-family: 'Sister', cursive;
}
