@font-face {
	font-family: 'Sister';
	src: url('./fonts/LoveYaLikeASister.woff') format('woff');
}
@font-face {
	font-family: 'Sister Solid';
	src: url('./fonts/LoveYaLikeASisterSolid.woff') format('woff');
}
body {
	background-image: url('../images/background.jpg');
	font-family: 'Sister', cursive;
}

// Dragula library CSS below:
.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.8;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
	filter: alpha(opacity=80);
}
.gu-hide {
	display: none !important;
}
.gu-unselectable {
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
.gu-transit {
	opacity: 0.2;
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
	filter: alpha(opacity=20);
}
// Dragula library CSS ends
